Package: com.openData-Server.LinwinSoft
Version: 1.5-2023.2.20
Priority: standard
Depends: python3
Architecture: amd64
Installed-Size: 88166
Maintainer: LinwinSoft
Section: utils
Description: LinwinSoft Linwin Db Server
