Package: com.openData-Server.LinwinSoft
Version: 1.1-2023.2.4
Priority: standard
Depends: tar,python3
Architecture: amd64
Installed-Size: 88166
Maintainer: LinwinSoft
Section: utils
Description: LinwinSoft openData Server SQL


